$colorGray1: #333333;
$colorGray2: #4F4F4F;
$colorGray3: #828282;
$colorGray4: #BDBDBD;
$colorPurple: #7878AB;
$colorAtive: #5533EA;

$backgroundColor1: #F5F5FA;
$buttonBackground: #57419D;

$boxshadow: #00000024;

$headline: 20px;
